@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "ABC Monument Grotesk";
    src: url("../fonts/abc-monument-grotesk-regular.woff2") format("woff2"),
        url("../fonts/abc-monument-grotesk-regular.woff") format("woff");
    font-display: block;
    font-weight: 400;
    font-style: normal;
}